{% extends "common/base.html" %}

{% block main %}
<div class="question">
	<h1>{{ question.title }}</h1>
	<div class="subtext">
		<p class="likes">{{ question.num_likes }} likes</p>
		<p class="author">{{ question.author }}</p>
	</div>
</div>

<div class="question-body">
	{{ question.body|linebreaks }}
</div>

{% if request.user.is_authenticated %}
<form action="{% url 'like' question.slug %}" method="POST">
	{% csrf_token %}
	<button type="submit">{{ liked|yesno:"Unlike,Like"}}</button>
</form>

<h2>Add answer</h2>
<form action="{% url 'answer' question.slug %}" method="POST">
	{% csrf_token %}
	{{ answer_form }}
	<button type="submit">Add Answer</button>
</form>
{% endif %}

{% for answer in question.answers.all %}
	<h2>Answer by {{ question.author }}</h2>
	{{ answer.body | linebreaks }}
{% endfor %}
{% endblock %}
