{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{% block title %}Transport Simple{% endblock %}</title>
		<link rel="stylesheet" href="{% static "common/css/style.css" %}">
	</head>
	<body>
		<div class="header">
			<a href="{% url 'home' %}">Home</a>
			<div class="right-header">
				{% if request.user.is_authenticated %}
					<span>{{ request.user }}</span>
					<a href="">Ask a question</a>
					<form action="{% url 'logout' %}" method="POST">
						{% csrf_token %}
						<button type="submit">Logout</button>
					</form>
				{% else %}
					<a href="{% url 'login' %}">Login</a>
				{% endif %}
			</div>
		</div>
{% block main %}
{% endblock %}
	</body>
</html>
