* {
	box-sizing: border-box;
}

form > div {
	width: 100%;
}

form input, form textarea, form label {
	width: 100%;
	margin: 10px 0;
	padding: 10px;
}


form input, form textarea {
	border-radius: 4px;
	border: solid 1px #333;
}

form textarea {
	resize: vertical;
}

form button[type="submit"] {
	width: 50%;
	min-width: 150px;
	padding: 10px;
	margin: 5px auto;
	background-color: #a63b26;
	border-radius: 4px;
	border: none;
	color: #FFF;
}

.header {
	display: flex;
	justify-content: space-between;
}

.right-header {
	display: flex;
	justify-content: space-evenly;
	align-content: center;
}

.right-header > * {
	margin-left: 15px;
}

.right-header form button[type="submit"] {
	background: none;
	border: none;
	color: #eb5674;
	font-size: 15px;
	margin: 0;
	padding: 0;
	width: auto;
	min-width: auto;
}

a {
	color: #eb5674;
	text-decoration: none;
}
body {
	max-width: 800px;
	margin: auto;
	padding: 20px;
}

h1 {
	font-size: 22px;
}

h2 {
	font-size: 18px;
}

.author {
	color: #777;
}

.subtext {
	display: flex;
	justify-content: space-between;
	width: 200px;
}

.likes {
	color: #a63b26;
}
